* {
    box-sizing: border-box;
}
.art-wrapper {
    margin-top: 30px;
}
.contenedor {
    justify-content: space-around;
    flex-wrap: wrap; 
}
.caja {
    padding: 15px;
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.animado {
    opacity: 0;
    transition: all 0.5s;
}